Invite#Index

<h4>Requests</h4>
  <table class='table table-hover table-bordered'>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Phone Number</th>
      <th></th>
    </tr>
  </table>

<h4>Invites</h4>
  <table class='table table-hover table-bordered'>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Pantry</th>
      <th>Response</th>
    </tr>
  </table>


<h4>Sent Invites</h4>
<table class='table table-hover table-bordered'>
  <tr>
    <th>Date</th>
    <th>Recipient</th>
    <th>Phone Number</th>
    <th></th>
  </tr>
</table>
