show.html.erb

<h3>Pantry Name: <%= @pantry.name %></h3>

<h4>Add Pantry Mates</h4>
<p>Every user can only have one pantry, so make sure they are your true pantry-mates!</p>

<h1> Not yet available. </h1>