<!-- Search#Find -->

<!-- SEARCH PANTRY FUNCTIONALITY -->
<div class='search_bar'>
  <%= bootstrap_form_tag url: '/search/results', method: 'get' do |f| %>
    <%= f.text_field :search_term, label: "Search for Users/Pantries" , placeholder: "Search by user phone number"%>
    <%= f.submit "Search" %>
  <% end %>
</div>
<!--  -->

