<!-- #####User#show Page -->
<!-- Currently showing <%= @user.first_name + " " + @user.last_name %> -->

<h3>Welcome to Your Pantry, <%= "#{@user.first_name}!" %></h3>
<% if @pantry == nil %>
  <h4>You don't seem to have a Pantry.</h4>
  <a href='/search/find'><p>Click to create/search for one</p></a>
<% else %>
  <%= render 'member', locals: {user: @user, pantry: @pantry} %>
<% end %>





