<!DOCTYPE html>
<html>
<head>
  <title>PantryCheck</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="/"><h1>PantryCheck</h1></a>

  <% if current_user %>
    <h3>Logged In</h3>
    <a href="/logout"><h3>Log Out</h3></a>
  <% else %>
    <a href='/login'><h3>Log In</h3></a>
    <a href='user/new'><h3>Sign Up</h3></a>
  <% end %>

<%= yield %>

</body>
</html>
